.main-img {
    max-height: 160px;
    height: 160px;
    background-image: url("https://openweathermap.org/themes/openweathermap/assets/img/slide-1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    > h1 {
        margin-top: 60px !important;
    }
}
